run = "bash setup-replit.sh"
entrypoint = "setup-replit.sh"

[nix]
channel = "stable-22_11"

[env]
PYTHONPATH = "${REPL_HOME}/backend:${PYTHONPATH}"
PATH = "${REPL_HOME}/backend:${PATH}"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "setup-replit.sh"]

[deployment]
run = ["bash", "setup-replit.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8001
externalPort = 8001